{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "title_homepage" %}</title>
</head>
<body>
<h1>{% trans "title_welcome" %}</h1>

<div id="root-container"></div>

{#<script async src="{{ WEBAPP_URL }}webapp.js"></script>#}
{#<script async src="{{ WEBAPP_URL }}node-static.js"></script>#}
</body>
<footer>
    <p>Copyright (C) 2021, SportEasy. All rights reserved.</p>
</footer>
</html>
